# SQL Practice
This notebook contains exercises for SQL fundamentals. 

The `Chinook_Sqlite.sqlite` and `Northwind.sqlite` databases are stored in the `data` folder of this repository.

### Entity Relationship Diagrams

#### Northwind ERD

![](../../static/Northwind_ERD.png)

#### Chinook ERD

![](../../static/Chinook_ERD.jpg)

In [ ]:
cur("""SELECT name FROM sqlite_master WHERE type='table';""").fetchall() #get table names
cur("""SELECT*FROM table_name;""").description #get column names

#### Note
>The table names in the ERD do not perfectly match the table names in the database. You can use the sql query `SELECT name FROM sqlite_master WHERE type='table';` to see the names of the tables.

Below we open up a connection to each database.

In [3]:
import sqlite3
import os

chinook_path = os.path.join(os.pardir, os.pardir, 'data', 'Chinook_Sqlite.sqlite')
chinook_connection = sqlite3.connect(chinook_path)

northwind_path = os.path.join(os.pardir, os.pardir, 'data', 'Northwind.sqlite')
northwind_connection = sqlite3.connect(northwind_path)

Now we create a cursor for each database.

In [4]:
chinook = chinook_connection.cursor()
northwind = northwind_connection.cursor()

## Let's first review some fundamental commands.

### `SELECT`

In the cell below, use the `SELECT` command to select all records from the northwind `product` table.

In [5]:
query = '''SELECT * FROM product;'''

northwind.execute(query).fetchmany(3)

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, 0),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, 0),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, 0)]

#### Selecting one column

Next let's only collect the product names from the `product` table.

In [6]:
query = '''SELECT productname FROM product;'''

northwind.execute(query).fetchmany(3)

[('Chai',), ('Chang',), ('Aniseed Syrup',)]

#### Selecting more than one column

In the cell below we will collect the product names, unit price, and units in stock columns from the `product` table.

In [7]:
query = '''SELECT productname,
                  unitprice,
                  unitsinstock
           FROM product;'''

northwind.execute(query).fetchmany(3)

[('Chai', 18, 39), ('Chang', 19, 17), ('Aniseed Syrup', 10, 13)]

### `WHERE`

In the cell below, use the `WHERE` command to select all records from the `product` table that have a unit price that is greater than $100.

In [8]:
query = '''SELECT * FROM product
           WHERE unitprice > 100;'''

northwind.execute(query).fetchmany(3)

[(29,
  'Thüringer Rostbratwurst',
  12,
  6,
  '50 bags x 30 sausgs.',
  123.79,
  0,
  0,
  0,
  1),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, 0)]

### `AND`
In the cell below collect the name of of products with a unit price > 100 with less than 10 units in stock.

In [9]:
query = '''SELECT productname FROM product
           WHERE product.unitprice > 100
           AND product.unitsinstock < 10;'''

northwind.execute(query).fetchall()

[('Thüringer Rostbratwurst',)]

### `JOIN`

In the cell below we use the `JOIN` command to return the unit price and the name of the supplier.

In [ ]:
northwind.execute("""query""").description

In [10]:
query = '''SELECT product.unitprice, supplier.companyname
           FROM product 
           INNER JOIN
           supplier 
           ON product.supplierid = supplier.id;'''

northwind.execute(query).fetchmany(3)

[(18, 'Exotic Liquids'), (19, 'Exotic Liquids'), (10, 'Exotic Liquids')]

### `DISTINCT`

In the cell below, use the `DISTINCT` command to collect all unique discount values from the orderdetail table.

In [11]:
query = '''SELECT DISTINCT discount FROM orderdetail'''

northwind.execute(query).fetchall()

[(0.0,),
 (0.15,),
 (0.05,),
 (0.2,),
 (0.25,),
 (0.1,),
 (0.02,),
 (0.03,),
 (0.04,),
 (0.06,),
 (0.01,)]

### Column broadcasting

In the cell below we calculate the total amount spent by multiplying the unit price times the quantity and subtracking the discount.

In [12]:
query = '''SELECT unitprice * quantity - (unitprice * quantity * discount) from orderdetail;'''

northwind.execute(query).fetchmany(3)

[(168.0,), (98.0,), (174.0,)]

### `GROUPBY`
In the cell below, use the `GROUPBY` command to collect the total amount spent on an order.

In [13]:
query = '''SELECT SUM(unitprice * quantity - (unitprice * quantity * discount)) ordertotal 
           FROM orderdetail
           GROUP BY orderdetail.orderid;'''

len(northwind.execute(query).fetchall())

830

In [14]:
# We have the same number of orders as the full table!
query = '''SELECT DISTINCT orderid from orderdetail;'''

len(northwind.execute(query).fetchall())

830

### `ORDER BY` and `ASC/DESC`
In the cell below, we collect all product names and unit prices and sort by unitprice in descending order.

In [15]:
query = '''SELECT productname, unitprice FROM product
           ORDER BY product.unitprice DESC;'''

northwind.execute(query).fetchmany(5)

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5)]

### Selecting all from both tables

In the cell below we use the `JOIN` command to return all product and supplier information from the `product` and `supplier` tables.

In [16]:
query = '''SELECT product.*, supplier.*
           FROM product
           INNER JOIN
           supplier
           ON product.supplierid = supplier.id;'''

northwind.execute(query).fetchmany(1)

[(1,
  'Chai',
  1,
  1,
  '10 boxes x 20 bags',
  18,
  39,
  0,
  10,
  0,
  1,
  'Exotic Liquids',
  'Charlotte Cooper',
  'Purchasing Manager',
  '49 Gilbert St.',
  'London',
  'British Isles',
  'EC1 4SD',
  'UK',
  '(171) 555-2222',
  None,
  None)]

# Pair Programming

Five SQL tasks have been provided for each of the two databases. 

For each database, one students should share their screen and write the code. The other student should navigate. Once students have completed the questions for the first database, students should switch roles for the second database.

## Northwind Practice

### Task 1

Select all observations from the `orderdetail` table.

In [17]:
# Your code here
query = """SELECT*FROM orderdetail"""
northwind.execute(query).fetchmany(5)

[('10248/11', 10248, 11, 14, 12, 0.0),
 ('10248/42', 10248, 42, 9.8, 10, 0.0),
 ('10248/72', 10248, 72, 34.8, 5, 0.0),
 ('10249/14', 10249, 14, 18.6, 9, 0.0),
 ('10249/51', 10249, 51, 42.4, 40, 0.0)]

### Task 2
Select the product name and quantity per unit columns from the `product` table.

In [21]:
# Your code here
query = """SELECT ProductName, QuantityPerUnit FROM Product"""
northwind.execute(query).fetchmany(5)

[('Chai', '10 boxes x 20 bags'),
 ('Chang', '24 - 12 oz bottles'),
 ('Aniseed Syrup', '12 - 550 ml bottles'),
 ("Chef Anton's Cajun Seasoning", '48 - 6 oz jars'),
 ("Chef Anton's Gumbo Mix", '36 boxes')]

### Task 3
Select all columns from the `order detail` table and the product name and quanitity per unit columns from the `product`

In [25]:
# Your code here
query = """SELECT OrderDetail.*, Product.ProductName, Product.QuantityPerUnit
           FROM OrderDetail
           JOIN Product
           ON Product.Id = OrderDetail.ProductId;"""
northwind.execute(query).fetchmany(5)

[('10248/11', 10248, 11, 14, 12, 0.0, 'Queso Cabrales', '1 kg pkg.'),
 ('10248/42',
  10248,
  42,
  9.8,
  10,
  0.0,
  'Singaporean Hokkien Fried Mee',
  '32 - 1 kg pkgs.'),
 ('10248/72',
  10248,
  72,
  34.8,
  5,
  0.0,
  'Mozzarella di Giovanni',
  '24 - 200 g pkgs.'),
 ('10249/14', 10249, 14, 18.6, 9, 0.0, 'Tofu', '40 - 100 g pkgs.'),
 ('10249/51',
  10249,
  51,
  42.4,
  40,
  0.0,
  'Manjimup Dried Apples',
  '50 - 300 g pkgs.')]

### Task 4
Select all columns from the `order detail` and `order` table, and the product name and quanitity per unit columns from the `product` table

In [26]:
# Your code here
query = """SELECT OrderDetail.*, 'Order'.*, ProductName, Product.QuantityPerUnit
           FROM OrderDetail
           JOIN Product
           ON Product.Id = OrderDetail.ProductId
           JOIN 'Order'
           ON 'Order'.Id = OrderDetail.OrderId;"""
northwind.execute(query).fetchmany(5)

[('10248/11',
  10248,
  11,
  14,
  12,
  0.0,
  10248,
  'VINET',
  5,
  '2012-07-04',
  '2012-08-01',
  '2012-07-16',
  3,
  32.38,
  'Vins et alcools Chevalier',
  "59 rue de l'Abbaye",
  'Reims',
  'Western Europe',
  '51100',
  'France',
  'Queso Cabrales',
  '1 kg pkg.'),
 ('10248/42',
  10248,
  42,
  9.8,
  10,
  0.0,
  10248,
  'VINET',
  5,
  '2012-07-04',
  '2012-08-01',
  '2012-07-16',
  3,
  32.38,
  'Vins et alcools Chevalier',
  "59 rue de l'Abbaye",
  'Reims',
  'Western Europe',
  '51100',
  'France',
  'Singaporean Hokkien Fried Mee',
  '32 - 1 kg pkgs.'),
 ('10248/72',
  10248,
  72,
  34.8,
  5,
  0.0,
  10248,
  'VINET',
  5,
  '2012-07-04',
  '2012-08-01',
  '2012-07-16',
  3,
  32.38,
  'Vins et alcools Chevalier',
  "59 rue de l'Abbaye",
  'Reims',
  'Western Europe',
  '51100',
  'France',
  'Mozzarella di Giovanni',
  '24 - 200 g pkgs.'),
 ('10249/14',
  10249,
  14,
  18.6,
  9,
  0.0,
  10249,
  'TOMSP',
  6,
  '2012-07-05',
  '2012-08-16',
  '2012-07-10',
  1,
  11.61,
  'Toms Spezialitäten',
  'Luisenstr. 48',
  'Münster',
  'Western Europe',
  '44087',
  'Germany',
  'Tofu',
  '40 - 100 g pkgs.'),
 ('10249/51',
  10249,
  51,
  42.4,
  40,
  0.0,
  10249,
  'TOMSP',
  6,
  '2012-07-05',
  '2012-08-16',
  '2012-07-10',
  1,
  11.61,
  'Toms Spezialitäten',
  'Luisenstr. 48',
  'Münster',
  'Western Europe',
  '44087',
  'Germany',
  'Manjimup Dried Apples',
  '50 - 300 g pkgs.')]

### Task 5

Select the unique company names and phone number from the `shipper` table for orders with a freight cost that is larger than $100

In [29]:
# Your code here
query = """SELECT DISTINCT Shipper.CompanyName, Shipper.Phone
           FROM Shipper
           JOIN 'Order'
           ON 'Order'.ShipVia = Shipper.Id
           WHERE Freight > 100;"""
northwind.execute(query).fetchmany(5)

[('Federal Shipping', '(503) 555-9931'),
 ('Speedy Express', '(503) 555-9831'),
 ('United Package', '(503) 555-3199')]

## Chinook Practice

### Task 1
Collect all oberservations from the genres table.

In [30]:
# Your code here
query = """SELECT*FROM genre"""
chinook.execute(query).fetchmany(5)

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll')]

### Task 2
Collect the first name, last name, and email for all customers.

In [31]:
# Your code here
query = """SELECT FirstName, LastName, Email FROM Customer;"""
chinook.execute(query).fetchmany(5)

[('Luís', 'Gonçalves', 'luisg@embraer.com.br'),
 ('Leonie', 'Köhler', 'leonekohler@surfeu.de'),
 ('François', 'Tremblay', 'ftremblay@gmail.com'),
 ('Bjørn', 'Hansen', 'bjorn.hansen@yahoo.no'),
 ('František', 'Wichterlová', 'frantisekw@jetbrains.com')]

### Task 3
Collect all track names with a blues genre.

In [32]:
# Your code here
query = """SELECT Track.name
           FROM Track
           JOIN Genre
           USING(GenreId)
           WHERE Genre.name ='Blues';"""
chinook.execute(query).fetchmany(5)

[('First Time I Met The Blues',),
 ('Let Me Love You Baby',),
 ('Stone Crazy',),
 ('Pretty Baby',),
 ('When My Left Eye Jumps',)]

### Task 4
Collect the genre names, track names, and album names.

In [33]:
# Your code here
query = """SELECT Genre.name, Track.name, Album.Title
           FROM Genre
           JOIN Track
           USING(GenreId)
           JOIN Album
           USING(AlbumId);"""
chinook.execute(query).fetchmany(5)

[('Rock',
  'For Those About To Rock (We Salute You)',
  'For Those About To Rock We Salute You'),
 ('Rock', 'Balls to the Wall', 'Balls to the Wall'),
 ('Rock', 'Fast As a Shark', 'Restless and Wild'),
 ('Rock', 'Restless and Wild', 'Restless and Wild'),
 ('Rock', 'Princess of the Dawn', 'Restless and Wild')]

### Task 5
Collect the unique first name, last name, and email for all customers who purchase blues music.

In [36]:
# Your code here
query = """SELECT DISTINCT FirstName, LastName, Email
           FROM Customer
           JOIN Invoice
           USING(CustomerId)
           JOIN InvoiceLine
           USING(InvoiceId)
           JOIN Track
           USING(TrackId)
           JOIN Genre
           USING(GenreId)
           WHERE Genre.name = 'Blues';"""
chinook.execute(query).fetchmany(5)

[('John', 'Gordon', 'johngordon22@yahoo.com'),
 ('Tim', 'Goyer', 'tgoyer@apple.com'),
 ('Hannah', 'Schneider', 'hannah.schneider@yahoo.de'),
 ('Stanisław', 'Wójcik', 'stanisław.wójcik@wp.pl'),
 ('Fernanda', 'Ramos', 'fernadaramos4@uol.com.br')]